<div class="blog-edit-card">
  <h1 class="blog-edit-header"><%= t('blogs.edit_header') %></h1>
  <%= form_with(model: @blog, url: blog_path(@blog), local: true, method: :patch) do |form| %>
    <div class="blog-edit-form-row">
      <%= form.label :category, t('blogs.category_label'), class: 'blog-edit-label' %>
      <%= form.select :category, Blog::CATEGORY_OPTIONS.map { |cat| [t("categories." + cat), cat] }, {}, class: 'blog-edit-select' %>
    </div>
    <div class="blog-edit-form-row">
      <%= form.label :title, t('blogs.title_label'), class: 'blog-edit-label' %>
      <%= form.text_field :title, required: true, maxlength: 120, placeholder: t('blogs.title_placeholder'), class: 'blog-edit-input' %>
    </div>
    <div class="blog-edit-form-row">
      <%= form.label :body, t('blogs.body_label'), class: 'blog-edit-label' %>
      <%= form.text_area :body, required: true, rows: 8, placeholder: t('blogs.body_placeholder'), class: 'blog-edit-textarea' %>
    </div>
    <div class="blog-edit-actions">
      <%= form.submit t('buttons.update'), class: 'btn blog-edit-submit-btn' %>
      <%= link_to t('buttons.cancel'), blogs_path, class: 'btn btn-outline blog-edit-cancel-btn' %>
    </div>
  <% end %>
</div>
