<div class="blog-main">
  <h1 class="blog-header"><%= t('site.header') %></h1>
  <p class="blog-subheader"><%= t('site.subheader') %></p>
  <div class="search-box-container">
    <%= form_with url: blogs_path, method: :get, local: true, class: 'search-form search-form-with-category' do %>
      <%= hidden_field_tag :locale, I18n.locale %>
      <div class="search-fields-row">
        <%= text_field_tag :q, params[:q], placeholder: t('site.search_placeholder'), class: 'search-input', autocomplete: 'off' %>
        <%= select_tag :category, options_for_select(Blog::CATEGORY_OPTIONS.map { |c| [t("categories." + c), c] }, params[:category].presence), include_blank: t('categories.all'), class: 'category-select' %>
      </div>
      <button type="submit" class="search-btn">
        <svg viewBox="0 0 24 24">
          <circle cx="11" cy="11" r="7" fill="none" stroke="white" stroke-width="2"/>
          <line x1="17" y1="17" x2="21" y2="21" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    <% end %>
  </div>
  <div class="sort-box">
    <%= form_with url: blogs_path, method: :get, local: true, class: 'sort-form' do %>
      <%= hidden_field_tag :locale, I18n.locale %>
      <span class="sort-label"><%= t('site.sorting', default: 'Sorting') %></span>
      <%= hidden_field_tag :q, params[:q] %>
      <select name="sort" class="sort-select" onchange="this.form.submit()">
        <option value="newest" <%= 'selected' if params[:sort] == 'newest' || params[:sort].blank? %>><%= t('site.sorting_newest') %></option>
        <option value="oldest" <%= 'selected' if params[:sort] == 'oldest' %>><%= t('site.sorting_oldest') %></option>
        <option value="likes_desc" <%= 'selected' if params[:sort] == 'likes_desc' %>><%= t('site.sorting_likes_desc') %></option>
        <option value="likes_asc" <%= 'selected' if params[:sort] == 'likes_asc' %>><%= t('site.sorting_likes_asc') %></option>
        <option value="views_desc" <%= 'selected' if params[:sort] == 'views_desc' %>><%= t('site.sorting_views_desc') %></option>
        <option value="views_asc" <%= 'selected' if params[:sort] == 'views_asc' %>><%= t('site.sorting_views_asc') %></option>
        <option value="title_asc" <%= 'selected' if params[:sort] == 'title_asc' %>><%= t('site.sorting_title_asc') %></option>
        <option value="title_desc" <%= 'selected' if params[:sort] == 'title_desc' %>><%= t('site.sorting_title_desc') %></option>
      </select>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to t('buttons.create_blog'), new_blog_path, class: 'btn btn-success blog-create-btn' %>
  <% else %>
    <span class="blog-login-msg"><%= t('site.login_to_add_blog') %></span>
  <% end %>
  <div class="blogs-list">
    <% if @blogs.present? %>
      <% @blogs.each do |blog| %>
        <div class="blog-card">
          <div class="blog-card-header">
            <span class="blog-category"><%= t("categories." + blog.category) %></span>
            <span class="blog-title"><%= blog.title %></span>
          </div>
          <div class="blog-card-actions">
            <%= link_to t('buttons.view'), blog_path(blog), class: 'btn btn-primary blog-view-btn' %>
            <span class="blog-views">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24"><path fill="#888" d="M12 5c-7 0-10 7-10 7s3 7 10 7 10-7 10-7-3-7-10-7Zm0 12c-4.97 0-8.19-4.18-9.05-5C3.81 11.18 7.03 7 12 7s8.19 4.18 9.05 5c-.86.82-4.08 5-9.05 5Zm0-8a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/></svg>
              <%= blog.views %>
            </span>
            <% if user_signed_in? && (blog.user == current_user || current_user.admin?) %>
              <%= button_to t('buttons.delete'), blog_path(blog), method: :delete, data: { confirm: t('buttons.delete_blog_confirm') }, class: 'btn blog-delete-btn' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="blog-no-blogs"><%= t('site.no_blogs') %></div>
    <% end %>
  </div>
</div>
