<div class="blog-new-card">
  <h1 class="blog-new-header"><%= t('blogs.new_header') %></h1>
  <%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
    <div class="blog-new-form-row">
      <%= form.label :category, t('blogs.category_label'), class: 'blog-new-label' %>
      <%= form.select :category, Blog::CATEGORY_OPTIONS.map { |cat| [t("categories." + cat), cat] }, {}, class: 'blog-new-select' %>
    </div>
    <div class="blog-new-form-row">
      <%= form.label :title, t('blogs.title_label'), class: 'blog-new-label' %>
      <%= form.text_field :title, required: true, maxlength: 120, placeholder: t('blogs.title_placeholder'), class: 'blog-new-input' %>
    </div>
    <div class="blog-new-form-row">
      <%= form.label :body, t('blogs.body_label'), class: 'blog-new-label' %>
      <%= form.text_area :body, required: true, rows: 8, placeholder: t('blogs.body_placeholder'), class: 'blog-new-textarea' %>
    </div>
    <div class="blog-new-actions">
      <%= form.submit t('buttons.save'), class: 'btn blog-new-submit-btn' %>
      <%= link_to t('buttons.cancel'), blogs_path, class: 'btn btn-outline blog-new-cancel-btn' %>
    </div>
  <% end %>
</div>
