<div class="comments-block">
  <div class="comments-title"><%= t('buttons.comments') %></div>
  <% blog.comments.each do |comment| %>
    <div class="comment-item">
      <span class="comment-author"><%= comment.user&.email || t('buttons.guest') %>:</span>
      <%= comment.body %>
      <% if user_signed_in? && (comment.user == current_user || current_user.admin?) %>
        <%= button_to blog_comment_path(blog, comment), method: :delete, data: { confirm: t('buttons.confirm_delete_comment') }, class: 'btn btn-outline comment-delete-btn' do %>
          <%= t('buttons.delete') %>
          <% if controller.controller_name == 'blogs' && controller.action_name == 'show' %>
            <%= hidden_field_tag :redirect_to_show, true %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= form_with model: [blog, Comment.new], local: true do |f| %>
      <% if controller.controller_name == 'blogs' && controller.action_name == 'show' %>
        <%= hidden_field_tag :redirect_to_show, true %>
      <% end %>
      <div class="comment-form-row">
        <%= f.text_field :body, required: true, maxlength: 1000, placeholder: t('buttons.leave_comment'), class: 'comment-input' %>
        <%= f.submit t('buttons.add'), class: 'btn comment-submit-btn' %>
      </div>
    <% end %>
  <% else %>
    <div class="comments-login-msg"><%= t('buttons.login_to_comment') %></div>
  <% end %>
</div>
