<div class="home-main">
  <h1 class="home-header"><%= t('home.welcome') %></h1>
  <p class="home-intro">
    <%= t('home.intro') %>
  </p>
  <ul class="home-features">
    <li><%= t('home.features.registration') %></li>
    <li><%= t('home.features.publish') %></li>
    <li><%= t('home.features.read_without_registration') %></li>
    <li><%= t('home.features.navigation') %></li>
  </ul>
  <div class="home-actions">
    <% unless user_signed_in? %>
      <%= link_to t('buttons.sign_up'), new_user_registration_path, class: 'btn btn-success home-signup-btn' %>
      <span class="home-or"><%= t('home.or') %></span>
      <%= link_to t('buttons.sign_in'), new_user_session_path, class: 'btn btn-outline-primary home-signin-btn' %>
    <% end %>
  </div>
</div>
