<!DOCTYPE html>
<html>
  <head>
    <title>BlogNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="layout-header">
      <div class="layout-home-icon">
        <%= link_to root_path, class: 'layout-home-link' do %>
          <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="<%= t('layout.home_alt') %>" class="layout-header-img" />
        <% end %>
      </div>
      <div class="layout-user-info">
        <% if user_signed_in? %>
          <span class="layout-user-welcome"><%= t('layout.welcome_user', user: current_user.email) %></span>
          <%= link_to image_tag('https://cdn-icons-png.flaticon.com/512/747/747376.png', alt: t('layout.profile_alt'), class: 'layout-header-img'), edit_user_registration_path %>
          <%= button_to t('buttons.logout'), destroy_user_session_path, method: :delete, form: { class: 'layout-logout-form' }, class: 'btn layout-logout-btn' %>
          <% if I18n.locale.to_s == 'en' %>
            <%= link_to url_for(locale: 'uk'), class: 'layout-lang-link' do %>
              <img src="https://flagcdn.com/24x18/ua.png" alt="Українська" class="layout-flag-img" />
            <% end %>
          <% else %>
            <%= link_to url_for(locale: 'en'), class: 'layout-lang-link' do %>
              <img src="https://flagcdn.com/24x18/gb.png" alt="English" class="layout-flag-img" />
            <% end %>
          <% end %>
        <% else %>
          <%= link_to image_tag('https://cdn-icons-png.flaticon.com/512/747/747545.png', alt: t('layout.login_alt'), class: 'layout-header-img'), new_user_session_path %>
        <% end %>
      </div>
    </header>

    <main class="layout-main">
      <%= yield %>
    </main>

    <footer class="layout-footer">
      <%= link_to t('buttons.blogs'), blogs_path, class: 'btn layout-footer-link' %>
    </footer>
  </body>
</html>
